body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}



.title {
    text-align: center;
    background-color: black;
    width: 100%;
    padding-bottom: 50px;
}

canvas {
}

.section {
    margin: 80px 0px; 
}

.stat-name {
    text-align: center;
}

.stat-header {
    text-align: center;
}

.header {
    width: 25%;
}


.stat-content {
}

.career-highlights {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.big-3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vs {
    flex: 1;
    margin: 20px;
}

/* .bar-graph {
    width: 600px;
} */

.stat {
    display: flex;
    flex-direction: row;
}

div.bar#first {
    background-color: blue;
    height: 100px;
    width: 80%;
}

div.bar#second {
    background-color: red;
    height: 100px;
    width: 70%;
}

div.bar#third {
    background-color: green;
    height: 100px;
    width: 65%;
}

.player {
    border: 1px solid black;
    border-radius: 5px;
}

img {
    max-width: 100%;
    max-height: auto;
}


.vs-federer {
}



.main-panels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.panel {
    box-shadow: 0 .375rem .875rem 0 rgba(0,0,0,.13),  0 .0625rem .25rem 0 rgba(0,0,0,.11);
    border-radius: 12px;
    padding: 5px 20px;
    
}

.small-panel {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 10px;
    margin: 20px;
    width: 320px; 
}



.panel.top {
    width: 500px;
}

.panel-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin: 5px;
    flex: 1;
}

.panel-header {
    text-align: center;
    background-color: goldenrod;
    padding: 5px 0px;
}



img {
    display: block;
}


ul {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

li {
    margin-left: 5px;
    list-style-type: none;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 5px;
}

h1 {
    font-size: 9vw;
    font-weight: 550;
    margin: 35px 10px 70px 10px;
}

.title > h1 {
    color: white;
}

h2 {
    margin: 0px;
    font-size: 4em;
}

h3 {
    margin: 0px;
    font-size: 3.5em;
    display: inline;
    padding-left: 20px;
}

h3#green {
    border-left: 6px solid green;
}

h3#orange {
    border-left: 6px solid orange;
}

.section-title > h3 {
    font-size: 40px;
}


h4 {
    font-size: 1.5rem;
}

h5 {
    color: white;
    font-size: 5vw;
    margin: 70px 0px;
}

hr {
    display:block;
    width: 10%;               
    background-color: white;
    height: 3px;
  }





  .timeline-section{
	background-color: #24292d;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:16px;
}
.timeline-date{
	font-size: 30px;
	color: #eaa023;
	margin:6px 0 15px;
    font-weight: 600;
}
.timeline-content{
	padding: 30px;
	border-radius: 5px;
    box-shadow: 0 .375rem .875rem 0 rgba(0,0,0,.13),  0 .0625rem .25rem 0 rgba(0,0,0,.11);

}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
	font-size: 24px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}